body {
  background-color: #1B1726;
  font-family: "Nunito", sans-serif;
}

.blurb h2 {
  color: #1B1726;
  font-weight: 100;
  font-size: 2.5rem;
}

.blurb p {
  color: #818C8A;
  font-weight: 100;
  font-size: 1.125;
  line-height: 2;
}

.content {
  margin-top: 100px;
  margin-bottom: 100px;
}

#mainNavbar {
  font-size: 1.5rem;
  font-weight: 100;
  color: #F2F0D8;
}

#mainNavbar .nav-link {
  color: white;
}

#mainNavbar .nav-link:hover {
  color: #818C8A;
}

#mainNavbar .navbar-brand {
  color: #818C8A;
  font-size: 1.5rem;
}

#headingGroup span {
  color: #818C8A;
}

#headingGroup h1 {
  font-weight: 100;
  font-size: 4rem;
}

.navbar.scrolled {
  background: #dec0de;
  -webkit-transition: background 500ms;
  transition: background 500ms;
}

@media (max-width: 1200px) {
  #headingGroup h1 {
    font-weight: 100;
    font-size: 3rem;
  }
}

#navLinks {
  color: #F2F0D8;
}
