.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  height: 30%;
  width: 100%;
  z-index: 10;
  opacity: .45;
  overflow: hidden;
}

.bg-video__content {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
